<h1>Clientes</h1>

<div class='list-group'>
  <% @clientes.each do |cliente| %>
    <%= link_to cliente.nombre_completo, cliente_path(cliente), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Cliente', new_cliente_path, :class=>'btn btn-primary' %>
