<h1>Editing Enumerado</h1>

<%= render 'form', enumerado: @enumerado %>

<%= link_to 'Show', @enumerado, :class=>'btn btn-info' %> |
<%= link_to 'Back', enumerados_path, :class=>'btn btn-secondary' %>
