<p id="notice"><%= notice %></p>

<h1>Enumerados</h1>

<div class='list-group'>
  <% @enumerados.each do |en| %>
    <%= link_to "Radical: "+en.radical+' - Codigo: '+en.codigo+' - Descripción: '+en.descripcion, enumerado_path(en), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Enumerado', new_enumerado_path, :class=>'btn btn-primary' %>
