<h4 class="indexlist">Municipios</h4>

<div class='list-group'>
  <% @municipios.each do |municipio| %>
    <%= link_to municipio.departamento.nombre+' - '+municipio.nombre, municipio_path(municipio), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Municipio', {:controller=>'municipios', :action=>'new', :departamento_id=>@departamento }, :class=>'btn btn-primary' %>
