<h1>Editing Bonificacion</h1>

<%= render 'form', bonificacion: @bonificacion %>

<%= link_to 'Show', @bonificacion, :class=>'btn btn-info' %> |
<%= link_to 'Back', bonificaciones_path, :class=>'btn btn-secondary' %>
