<h4 class="indexlist">Departamentos</h4>

<div class='list-group'>
  <% @departamentos.each do |departamento| %>
    <%= link_to departamento.provincia.nombre+' - '+departamento.nombre, departamento_path(departamento), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Departamento', {:controller=>'departamentos', :action=>'new', :provincia_id=>@provincia }, :class=>'btn btn-primary' %>
