<h4 class="indexlist">Localidades</h4>

<div class='list-group'>
  <% @localidades.each do |localidad| %>
    <%= link_to localidad.municipio.nombre+' - '+localidad.nombre, localidad_path(localidad), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Localidad', {:controller=>'localidades', :action=>'new', :municipio_id=>@municipio }, :class=>'btn btn-primary' %>
