<h1>Editing Localidad</h1>

<%= render 'form', localidad: @localidad %>

<%= link_to 'Show', @localidad, :class=>'btn btn-info' %> |
<%= link_to 'Back', localidades_path, :class=>'btn btn-secondary' %>
