<h1>Editing Suministro</h1>

<%= render 'form', suministro: @suministro %>

<%= link_to 'Show', @suministro, :class=>'btn btn-info' %> |
<%= link_to 'Back', suministros_path, :class=>'btn btn-secondary' %>
