<h1>Editing Direccion</h1>

<%= render 'form', direccion: @direccion %>

<%= link_to 'Show', @direccion, :class=>'btn btn-info' %> |
<%= link_to 'Back', direcciones_path, :class=>'btn btn-secondary' %>
