<h1>Editing Documento</h1>

<%= render 'form', documento: @documento %>

<%= link_to 'Show', @documento, :class=>'btn btn-info' %> |
<%= link_to 'Back', documentos_path, :class=>'btn btn-secondary' %>
