<h1>Países</h1>

<div class='list-group'>
  <% @paises.each do |pais| %>
    <%= link_to pais.nombre, pais_path(pais), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Pais', new_pais_path, :class=>'btn btn-primary' %>
