<h4 class="indexlist">Barrios</h4>

<div class='list-group'>
  <% @barrios.each do |barrio| %>
    <%= link_to barrio.localidad.nombre+' - '+barrio.nombre, barrio_path(barrio), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Barrio', {:controller=>'barrios', :action=>'new', :localidad_id=>@localidad }, :class=>'btn btn-primary' %>
