<h4 class="indexlist">Provincias</h4>

<div class='list-group'>
  <% @provincias.each do |provincia| %>
    <%= link_to provincia.pais.nombre+' - '+provincia.nombre, provincia_path(provincia), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Provincia', {:controller=>'provincias', :action=>'new', :pais_id=>@pais }, :class=>'btn btn-primary' %>