<p class="showitem">
  <strong>Pais: <%= link_to @provincia.pais.nombre, pais_path(@provincia.pais) %></strong>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @provincia.nombre %>
</p>

<%= link_to 'Edit', edit_provincia_path(@provincia), :class=>'btn btn-warning' %>

<%= render 'departamentos/list' %>