<p id="notice"><%= notice %></p>

<h1>Cuentas</h1>

<div class='list-group'>
  <% @cuentas.each do |cuenta| %>
    <%= link_to 'Show', cuenta_path(cuenta), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Cuenta', new_cuenta_path, :class=>'btn btn-primary' %>
