<h4 class="indexlist">Calles</h4>

<div class='list-group'>
  <% @calles.each do |calle| %>
    <%= link_to calle.fullcalle, calle_path(calle), :class=>'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br>

<%= link_to 'New Calle', {:controller=>'calles', :action=>'new', :barrio_id=>@barrio }, :class=>'btn btn-primary' %>
